
<div class="col-lg-12">
  <div class="row">
    <div class="col-md-2 dot-four">
      <button class="button" routerLink="/shop"><h4>Shop</h4></button>
    </div>
    <div class="col-md-2 dot-four">
      <button class="button button1" routerLink="/about"><h4>About</h4></button>
    </div>
    <div class="col-md-2 dot-four-pic">
      <a routerLink="">
      <img src="../../assets/pics/Marchal-Love-1.jpg" alt="Mountain View" width="170" height="110">
      </a>
    </div>
    <div class="col-md-2 dot-four">
      <button class="button button1" routerLink="/shop"><h4>Contact</h4></button>
    </div>
    <div class="col-md-2 dot-four">
      <button class="button button1" routerLink="/shop"><h4>Cart</h4></button>
    </div>  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-md-4 col-sm-4  col-xs-4">
      <div class="box">
        <a (click)="openMenuDropdown()">
        <img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-256.png" width="35" height="40">
        </a>
      </div>
      </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="box-logo">
        <a routerLink="">
      <img src="../../assets/pics/Marchal-Love-1.jpg" alt="Mountain View" width="150" height="110">
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="box">
        <img src="https://image.flaticon.com/icons/svg/2/2772.svg" width="35" heigt="40">
      </div>
    </div>
    </div>
  </div>

<div class="overlay" id="menus">
  <!--<a href="javascript: void(0)" class="close">&times ;</a>-->
  <!--<div class="overlay-content">-->
    <div class="closeButtonBox">
      <a (click)="oloseMenuDropdown()">
  <img src="https://image.flaticon.com/icons/svg/149/149158.svg" >
      </a>
    </div>
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!--<div class="hamburger">-->
        <button class="button button1" routerLink="" (click)="oloseMenuDropdown()"><h4>About</h4></button>
      <!--</div>-->
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button class="button button1" routerLink="/shop"><h4>Contact</h4></button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button class="button button1" routerLink="/shop" (click)="oloseMenuDropdown()"><h4>Shop</h4></button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button class="button button1" routerLink="/shop"><h4>Cart</h4></button>
    </div>
  </div>

