/*@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');*/
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
/*@font-face {*/
/*font-family: 'Speed'; !*a name to be used later*!*/
/*src: url('../../assets/fonts/speed.ttf'); !*URL to font*!*/
/*}*/

h1, h2, h3, h4, h5, h6{
  /*font-family: 'Racing Sans One', cursive;*/
  font-family: 'Bungee Shade', cursive;
  /*font-family: 'Raleway', sans-serif;*/
  /*font-weight: bold;*/
}




.col-lg-12{
  background-color: white;
  height: 125px;
  color: black;

  /*border: 1px solid black;*/

}



.col-md-12,
.col-sm-12,
.col-xs-12{
  display: none;
  height: 125px;
  /*border: 1px solid black;*/
  position: sticky;
}
.col-md-4,
.col-sm-4,
.col-xs-4{
  /*border: 1px solid black;*/
  height: 125px;
  text-align: center;
    /*padding-top: 45px;*/
}



@media all and (max-width: 1190px) {
  /* screen size until 1000px */
  .col-lg-12 {
    display: none;
  }

  .col-md-12{
    display: inline;

  }

}

@media all and (max-width: 576px) {
  /* screen size until 1000px */
  .col-xs-12 {
    height: 80px;
    /*border: 1px solid black;*/
  }

  .col-xs-4{
    height: 80px;
    /*border: 1px solid black;*/


  }

  .box img {
    height: 30px;
    width: 25px;
    position: static;
    top: 0%;
    margin-top: 0px;
    left: 0%;
    margin-left: 0px;
  }

  .box-logo img{
    height: 75px;
    width: 90px;
  }



}


div.col-md-4.pic,
div.col-sm-4.pic,
div.col-xs-4.pic{
  border: 1px solid black;
  height: 125px;
}

.picture_wrap{
  padding-top: 0px;
}


div.col-md-2.dot-four {
  width: 20%;
  text-align: center;
  height: 125px;
  vertical-align: middle;
  letter-spacing: 4px;
  padding-top: 43px;
  /*border: 1px solid black;*/
}

div.col-md-2.dot-four-pic {
  width: 20%;
  text-align: center;
  height: 125px;
  vertical-align: middle;
  letter-spacing: 4px;
  /*border: 1px solid black;*/
}


.button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 400ms ease;
  letter-spacing: 4px;


}

.button:hover{
  letter-spacing: 7px;
  border-bottom: 2px solid black;

}



.button:focus {
  border-bottom: 2px solid black;
}



.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box img {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
  cursor: pointer;
}

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;

}

/*.overlay-content{*/
  /*text-align: center;*/
  /*position:relative;*/
  /*top: 10%;*/
  /*left: 25%;*/
  /*right: 25%;*/
  /*width: 100%;*/
  /*margin-top: 30px;*/

/*}*/

.overlay-content button{
  display: block;
  padding: 8px;
  text-decoration: none;
}

.hamburger{
  padding-top: 50px;
}
.closeButtonBox img{
  padding-left: 30px;
  padding-top: 30px;
  width: 50px;
  height: 55px;
  cursor: pointer;
}

.container{
  positon: relative;
  text-align: center;
  font-size: 35px;
}
