@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

h1, h2, h3, h4, h5, h6{
  /*font-family: 'Racing Sans One', cursive;*/
  font-family: 'Bungee Shade', cursive;
  font-size: 35px;
  /*font-family: 'Raleway', sans-serif;*/
  /*font-weight: bold;*/
}

* {
  background-color: white;
  text-align: center;
}

.hamburger{
  padding-top: 50px;
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 400ms ease;
  letter-spacing: 4px;


}

.button:hover{
  letter-spacing: 7px;
  border-bottom: 2px solid black;

}

.button:focus {
  border-bottom: 2px solid black;
}

img{
  padding-left: 20px;
  padding-top: 20px;
  width: 50px;
  height: 55px;

}

@media all and (max-width: 576px) {
  /* screen size until 1000px */

  h1, h2, h3, h4, h5, h6 {
    font-size: 25px;
    /*border: 1px solid black;*/
  }

  img {
    height: 40px;
    width: 45px;
    /*border: 1px solid black;*/

  }
}

