<img src="https://image.flaticon.com/icons/svg/149/149158.svg" >
<div class="container">
  <div class="col-lg-12">
    <div class="hamburger">
      <button class="button button1" routerLink="/shop"><h4>About</h4></button>
    </div>
  </div>
  <div class="col-lg-12">
      <button class="button button1" routerLink="/shop"><h4>Contact</h4></button>
  </div>
  <div class="col-lg-12">
  <button class="button button1" routerLink="/shop"><h4>Shop</h4></button>
  </div>
  <div class="col-lg-12">
  <button class="button button1" routerLink="/shop"><h4>Cart</h4></button>
  </div>
  </div>

